{{ define "header" }}
    {{.FilterInfo}}
    Total news items: {{.TotalItems}}
{{ end }}
{{ template "header" . }}

{{if eq .TotalItems 0}}
    No news available for this period
{{else}}
    {{if .SortBySource }}
        {{range $source, $items := .NewsItems }}
            {{$source}} ({{len $items}})
                {{range $items}}
                        {{ highlight .Title }}
                        {{.Date | formatDate "2006-01-02 15:04:05"}}
                        {{ highlight .Content }}
                        {{.Link}}
                    ----------------------------------------------------------------
                {{end}}
        {{end}}
    {{else}}
        ----------------------------------------------------------------
        {{ $keywords := .Keywords }}
        {{range .NewsItems}}
            {{ highlight .Title $keywords }}
            {{.Link}}
            {{.PubDate }}
            {{ highlight .Description $keywords }}
            ----------------------------------------------------------------
        {{end}}
    {{end}}
{{end}}
